<section>
    <div class="container">
        <div class="tournament">
            <h1 class="tournament__title">{{results.title}}</h1>
            <img class="tournament__image"src="{{results.image.src}}" alt="{{results.image.alt}}">
            <button class="tournament__button"(click)="showParticipants()">Apuntate! <span class="fas fa-arrow-circle-down"></span></button>
            <div [ngClass]="{'displayNone': displayParticipant}" class="tournament__inscription">
                <app-tournament-inscription (newParticipantEvent)="loadParticipant()" ></app-tournament-inscription>
            </div>
            <div [ngClass]="{'displayNone': displayParticipant}" class="tournament__participants">
                <h2>Participantes:</h2>
                <app-tournament-participants [results]="response"></app-tournament-participants>
            </div>
            <p class="tournament__date">{{results.date}}</p>
        </div>
    </div>
</section>
