<div class="description">
    <h1 class="description__title">Galería</h1>
    <p class="description__text">lorem ipsum....</p>
</div>
<div *ngIf="loader" class="loader">
    <img src="https://media.giphy.com/media/3y0oCOkdKKRi0/giphy.gif" alt="loader">
</div>
<div class="galeri">
    <ng-container *ngFor="let image of response">
        <div class="galeri__container">
            <img class="galeri__container__image" src="{{image.src}}" alt="{{image.alt}}">
            <p class="galeri__container__painter"> Pintor:"{{image.alt}}"</p>
        </div>
    </ng-container>
</div>
    <form class="galeri__form" (ngSubmit)="submitImage()" [formGroup]="postForm">
        <fieldset class="galeri__form__item">
            <label for="alt">Nombre:</label>
            <input type="text" id="alt" formControlName="alt" />
            <div *ngIf="!postForm.get('alt')!.valid &&
            (postForm.get('alt')!.dirty || submitted)">
                <p>Introduce tu nombre.</p>
            </div>
        </fieldset>
        <fieldset class="galeri__form__item">
            <label for="src">URL:</label>
            <input type="text" id="src" formControlName="src" />
            <div *ngIf="!postForm.get('src')!.valid &&
            (postForm.get('src')!.dirty || submitted)">
                <p>Introduce una url válida.</p>
            </div>
        </fieldset>
    </form>
<div class="container">
    <button class="container__button" (click)="submitImage()">+</button>
</div>

