@import "../../../../styles/colors";
@import "../../../../styles/fonts";
@import "../../../../styles/responsive";

.description{
    background-color: $primary__color;
    &__title{
        font-family: "titles";
        color:$eigth__color;
        text-align: center;
        padding-top: 15px;
    }
    &__text{
        text-align: center;
        font-family: 'main__content';
        color: $ninth__color;
    }
}
.galeri{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $primary__color;
    &__container{
        border: solid;
        border-color: $ninth__color;
        box-shadow: 0px 0px 15px 5px $ninth__color;
        margin: 25px;
        padding: 10px;
        &__painter{
            text-align: center;
            font-family: 'main__content';
            color: $ninth__color;
        }
        &__image{
            width: 210px;
        }
    }
    &__form{
        background-color: $primary__color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__item{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family: 'main__content';
            color: $ninth__color;
            border: none;
            div{
                p{
                    font-size: 12px;
                    color: red;
                    font-family: 'main__content';
                }
            }
        }
    }
}

.container{
    background-color: $primary__color;
    display: flex;
    align-items: center;
    justify-content: center;
    &__button{
        margin: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 30px;
    }
}

.loader{
    z-index: 1;
    background-color: rgba(92, 91, 91, 0.157);
    display: flex;
    align-content: center;
    justify-content: center;
    img{
        width: 100%;
        height: 100%;
    }
}

@include desktop{
    .galeri{
        padding-left: 10%;
        padding-right: 10%;
    }
}