<nav>
    <div class="header">
        <img src="{{navBarImage.src}}" alt="{{navBarImage.alt}}"
        class="header__image"
        [routerLink]="[navBarImage.path]"
        >
        <ul class=header__list>
            <li 
            class="header__list__item" 
            *ngFor="let item of navBar"
            [ngClass]="{'displayNone': dropDown}">
                <p [routerLink]="[item.path]">{{item.name}}</p>
            </li>
        </ul>
        <button class="header__button" (click)="dropDownMenu()">
            Menú
        </button>
    </div>
</nav>