.header{
    background-color: rgb(18, 178, 238);
    color: white;
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        &__image{
            width: 50px;
        }
    }
}