@import "../../../../../styles/colors";
@import "../../../../../styles/fonts";

.description{
    background-color: $primary__color;
    padding-top: 25px;
    padding-bottom: 40px;
    &__title{
        text-align: center;
        font-family: 'titles';
        color:$eigth__color;
        margin-bottom: 25px;
    }
    &__content{
        font-family: titles;
        color:$ninth__color;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
    }
}