//body background
$primary__color: rgb(56, 56, 56);
//nav background
$secondary__color: rgb(38, 38, 38);
//div name background
$third__color:rgb(114, 15, 15);
//contact text and footer background
$fourth__color: rgb(13, 13, 13);
//footer text
$fifth__color:rgb(107, 107, 107);
//div background
$sixth__color:rgb(255, 255, 255);
//content text
$seventh__color:rgb(41, 41, 41);
//title text
$eigth__color:rgb(253,195, 0);
//header text
$ninth__color:rgb(204,204, 204);
//register
$tenth__color:rgb(63, 154, 53)
