<footer>
    <div class="footer">
        <div class="footer__logo">
            <img class="footer__logo__image" src="../../../../assets/images/logotipo_AEPDA__RECORTADO.jpg" alt="">
        </div>
        <div class="footer__contact">
            <p class="footer__contact__contents">{{contact}}</p>
        </div>
        <div class="footer__media">
            <li class="footer__media__links"><span class="fab fa-facebook"></span></li>
            <li class="footer__media__links"><span class="fab fa-instagram"></span></li>
            <li class="footer__media__links"><span class="fab fa-twitter-square"></span></li>
        </div>
    </div>
    <div class="copiRight">
        <p>{{copiRight}}</p>
    </div>
</footer>
