<div class="container">
    <div class="rules">
        <ul class="rules__list">
            <h2 class="rules__title">Reglas de los torneos:</h2>
            <li><p>Se jugará con la última versión del reglamento y los codex.</p></li>
            <li><p>Las listas han de ser entregadas en formato pdf una semana antes del torneo.</p></li>
            <li><p>No se podrán usar proxis ni miniaturas de forje world.</p></li>
            <li><p>Cada jugador ha de traer su metro y dados, así como cualquier otro elemento necesario.</p></li>
            <li><p>No se tolerarán las faltas de respeto ni el juego sucio."</p></li>
        </ul>
    </div>
</div>

