@import "../../../../../styles/colors";
@import "../../../../../styles/fonts";
@import "../../../../../styles/responsive";

.home-header-images{
    background-color: $primary__color;
    &__image{
        width: 33.33%;
        height: 200px;
    }
}

@include tablet {
    .home-header-images{
        &__image{
            width: 33.33%;
            height: 300px;
        }
    }
}
