<section>
    <div class="information">
        <div class="container">
            <h1 class="container__title">Que es AEPDA?</h1>
            <p class="container__content">
                Somos una asociación sin ánimo de lucro dedicada a jugar y a promover los wargames.
                Pero, que es un wargame? Un wargame es un juego de estrategia con unas normas complejas 
                donde las tropas se representan por miniaturas que pueden realizar diferentes acciones,
                como mover, disparar, capturar objetivos, etc... El juego más conocido sería warhammer,
                no obstante existen otros muchos, los cuales siempre son bien recibidos por la comunidad.
            </p>
        </div>
        <div class="container">
            <h1 class="container__title">{{title}}</h1>
            <div class="container__item">
                <h2>Presidente:</h2>
                <p>{{president}}</p>
            </div>
            <div class="container__item">
                <h2>Vice presidente:</h2>
                <p>{{vicePresident}}</p>
            </div>
            <div class="container__item">
                <h2>Tesorero:</h2>
                <p>{{treasurer}}</p>
            </div>
            <div class="container__item">
                <h2>Organizador de eventos:</h2>
                <p>{{eventCoordinator}}</p>
            </div>
        </div>
        <div class="container">
            <h1  class="container__title">Donde localizarnos?</h1>
            <ul  class="container__list">
                <li>Sant Joan Despí (Barcelona)</li>
                <li>Calle Colón nº23, bajos</li>
                <li>AEPDA_contacto@gmail.com</li>
            </ul>
        </div>
    </div>
</section>