@import "../../../../../styles/colors";
@import "../../../../../styles/fonts";
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $primary__color;
    &__container{
        display: flex;
        flex-direction: column;
        background-color:$sixth__color;
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 25px;
        &__image{
            padding:10px;
            width: 230px;
            height: 150px;
        }
        &__title{
            padding-left: 10px;
            padding-bottom: 10px;
            font-family: 'main__titles';
        }
        &__content{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 8;
            overflow: hidden;
            padding-left: 10px;
            padding-right: 10px;
            font-family: 'main__content';
        }
        &__button{
            align-self: flex-end;
            margin:25px
        }
    }
}